* {
  box-sizing: border-box;
}

body {
  border: 0px;
  padding:0; 
  margin:0;
  border-collapse: collapse;
  font-family: Courier, 'Courier New', monospace;
  font-size: 120%;
  background: #f1f1f1;
}


.header {
  padding: 30px;
  background: white;
}

.header h1 {
  text-align: center;
  font-size: 200%;
}

.header h3 {
  text-align: center;
  font-size: 150%;
}

nav {
  background-color: #3a24f0;
  padding: 10px;
  text-align: center;
  width: 100%;
  position: sticky;
  top: 0px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0px 20px;
  font-size: 1.3em;
}

nav a:hover {
  text-decoration: underline;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.main {   
  width: 100%;
  padding: 20px;
  text-align: center;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}